
*.obj

.DS_Store
libecpp3d.a


bin/test1

ECpp3d.xcodeproj/project.pbxproj

ECpp3d.xcodeproj/xcuserdata/christian.xcuserdatad/xcschemes/ECpp3d.xcscheme

ECpp3d.xcodeproj/xcuserdata/christian.xcuserdatad/xcschemes/xcschememanagement.plist
